# Cargo aliases for production builds (static linking, separate target dir)
[alias]
release-editor = "build --release --no-default-features --features editor --target-dir app"
release-runtime = "build --release --no-default-features --features runtime --bin renzora_runtime --target-dir app"

# Note: rust-lld doesn't work with Bevy dynamic linking on Windows nightly
# [target.x86_64-pc-windows-msvc]
# linker = "rust-lld.exe"

# Faster linking for Linux (uses lld via clang)
[target.x86_64-unknown-linux-gnu]
linker = "clang"
rustflags = ["-C", "link-arg=-fuse-ld=lld","-Zshare-generics=y"]
